# cp udpserver.service /etc/systemd/system/
# sudo systemctl enable udpserver.service
# sudo systemctl start udpserver.service
# after configuration change - sudo systemctl daemon-reload

[Service]
ExecStart=/usr/bin/python /home/pi/roleta/udpserver.py 1
WorkingDirectory=/home/pi/roleta/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=udpserver
User=root
Group=root

[Install]
WantedBy=multi-user.target
