# cp udpserver@.service /etc/systemd/system
# systemctl enable udpserver@22.service
# systemctl start udpserver@22.service
# after configuration change - sudo systemctl daemon-reload

[Service]
ExecStart=/usr/bin/python /home/pi/roleta/udpserver.py %i
WorkingDirectory=/home/pi/roleta/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=udpserver%i
User=root
Group=root

[Install]
WantedBy=multi-user.target
